anaconda==0.0.1.1
appdirs==1.4.4
asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
distlib==0.3.1
Django==3.2
filelock==3.0.12
future==0.18.2
gTTS==2.2.2
gunicorn==20.1.0
idna==2.10
joblib==1.0.1
llvmlite==0.36.0
numba==0.53.1
numpy==1.20.2
Pillow==8.2.0
pycosat==0.6.3
PyJWT==1.7.1
PyMySQL==1.0.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
python-whois==0.7.3
pyts==0.11.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
sqlparse==0.4.1
threadpoolctl==2.1.0
twilio==6.56.0
urllib3==1.26.4
virtualenv==20.4.3
virtualenvwrapper-win==1.2.6
whitenoise==5.2.0
xlwt
django-import-export
