{% extends 'shop/basic.html' %}

{% block title%} gfvhklfgf {% endblock %}
{% block body%}

{% for i in xv %}
<div class="row">

<div class="col-md-10">
<div class="card mb-10">
  <div class="row g-0">

    <div class="col-md-2">
        <img src="/media/{{i.cartimage}}" width="180">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{i.cartname}}</h5>
        <p class="card-text">{{i.cartdecs}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <form action="" method="post">{% csrf_token %}

              <button   id="{{i}}" name="id" class="btn btn-primary cart" type="submit">Remove</button>
                 </form>

      </div>
    </div>
  </div>
</div>
</div>

  <div class="col-md-2">
         <div class="card text-end">

        <div class="card" style="width: 12rem; height:2rem; ">

           <ul class="list-group list-group-flush">

    <li class="list-group-item">Price:-{{i.cartprice}}</li>
                <h4  >            </h4>
           </ul>

  </div>
      </div>

</div>
  </div>
</div>
{%endfor%}



<div class="card text-end" style="width: 82rem;">
  <div class="card-body">
      <div class="row">
    <h3 class="card-title">Total   600</h3>
             <a href="/adress/" class="btn btn-primary">Checkout</a>



  </div>
  </div>
</div>
{%endblock%}