{% extends 'shop/basic.html' %}
{% block title%} {{xv.pname}} {% endblock %}

{% block body %}

<div class="container my-4">

    <div class="row">
        <div class="col md-4">
            <img src="/media/{{xv.image}}" width="400">
        </div>
        <div class="col md-8">
            <h1>{{xv.pname}}</h1>
          <p>Painting is the practice of applying paint, pigment, color or other medium to a solid surface (called the "matrix" or "support").[1] The medium is commonly applied to the base with a brush, but other implements, such as knives, sponges, and airbrushes, can be used.

In art, the term painting describes both the act and the result of the action (the final work is called "a painting")</p>
        <div class=" row align-items-end d-grid gap-2" >

            <br> <br>
              <p><h4>Price {{xv.price}}Rs</h4></p>
              <br>
              <br> <br>

                 <form action="" method="post">{% csrf_token %}
              <button class="btn btn-primary  me-md-2" type="button">Buy</button>
              <button   id="{{i}}" name="id" class="btn btn-primary cart" type="submit">Add to Cart</button>
                 </form>

</div>

        </div>
    </div>

</div>


{% endblock %}



{% block js %}
<script >
  console.log('hiii');
  if(localStorage.getItem('cart') == null)
{
var cart={};
}
else{
cart= JSON.parse(localStorage.getItem('cart'));
}


//jQuery starts here//


$('.cart').click(function(){


var idstr= this.id.toString();


if(cart[idstr]!= undefined) {
cart[idstr] = cart[idstr]+1;
}
else{
cart[idstr] = 1;
}

console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById("cart").innerHTML=Object.keys(cart).length;
});

</script>
{%endblock%}